# Data types

# Strings

**1.string**: string is nothing but sequence of characters this sequence should be maintain inside

the string.

2. string is immutable(it will not able to change or update once we declared)

In [68]:
#initialization
s=" "
print(type(s))

<class 'str'>

In [69]:
s=str()
print(type(s))

<class 'str'>

In [1]:
print("Hello World")

Hello World

In [2]:
a="Hello World"
print(a)
print(type(a))

Hello World
<class 'str'>

In [3]:
#we can use Triple quotes for string
a="""Hello World"""
print(a)
print(type(a))

Hello World
<class 'str'>

In [4]:
a='''Hello World'''
print(a)
print(type(a))

Hello World
<class 'str'>

**Indexing**

In [8]:
a= "Iam a srtong girl"
print(a[-1])#Negative indexing
print(a[1])
print(a[0])
print(a[2])

l
a
I
m

In [18]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [17]:
#length of string 
a="iam a stranger"
print(len(a))

14

In [22]:
txt="the best things in life are free"
print("free" in txt)
print("life" in txt)
print("is" in txt)

True
True
False

In [25]:
txt="the best things in life are free"
if "free" in txt:
    print("yes 'free' is present")

yes 'free' is present

In [27]:
txt="the best thins in life are free"
if "expensive" not in txt:
    print("not present")

not present

**slicing**

In [35]:
b="hello! how are you"
print(b[0:5:1])
print(b[0:5:2])
print(b[:])
print(b[-5:-2])

hello
hlo
hello! how are you
e y

In [37]:
#Upper() this method returns the string in uppercase
#lower() this method returns the string in lowercase
a="hello world"
print(a.upper())
print(a.lower())

HELLO WORLD
hello world

In [44]:
#srtip() this method removes the whitespace beginning or end
a="  hello world  "
print(a.strip())

hello world

In [45]:
#replace()this method replace a string with another string
a="your a data scientist"
print(a.replace("your","iam"))

iam a data scientist

In [49]:
#split() method returns a list where the text between the specified separator becomes the list items.
#split() method splits the string into substrings if it finds instances of the separator:
a="your a data scientist"
print(a.split(","))
print(a.split())

['your a data scientist']
['your', 'a', 'data', 'scientist']

In [51]:
#concatination
a="I have knowledge"
b="about python"
c=a+b
print(c)

I have knowledgeabout python

In [53]:
#add a space between them
a="I have knowledge"
b="about python"
c=a+" "+b
print(c)

I have knowledge about python

In [54]:
age=23
a="iam shantha i have"+age
print(a)

TypeError: can only concatenate str (not "int") to str

In [55]:
#But we can combine strings and numbers by using the format() method!
# the placeholders {} are:
age=23
txt="iam shantha i have {}"
print(txt.format(age))

iam shantha i have 23

In [60]:
age=23
height=164
weight=50
txt="iam shantha {} and i have {} height and {} weight"
print(txt.format( age,height,weight))

iam shantha 23 and i have 164 height and 50 weight

In [61]:
#You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# lists

**Data structures:** list is a one type of data structure.

1.It can store the sequence of elements inside the list.

2.list is  **mutable**(update,edit,change,replace).

3.list is used to store homogeneous data types.

4.Indexing and sclicing is also possible in list.

5.Allow duplicates

In [151]:
#initialization
a=list()
print(type(a))

<class 'list'>

In [152]:
a=[]
print(type(a))

<class 'list'>

In [1]:
#creating a list
list1=["apple","banana","mango"]
list2=[23,45,54]
list3=[True,False,True]

In [4]:
print(list1)
print(list2)
print(list3)
print(type(list1))
print(type(list2))
print(type(list3))

['apple', 'banana', 'mango']
[23, 45, 54]
[True, False, True]
<class 'list'>
<class 'list'>
<class 'list'>

In [6]:
#list() using this list constructor to create a list

thislist=list(("apple","banana","graphes"))
print(thislist)
print(type(thislist))

['apple', 'banana', 'graphes']
<class 'list'>

**Indexing**

In [10]:
thislist=["apple","banana","mango","orange","kiwi","milon","graphes"]
print(thislist[0])
print(thislist[1])
print(thislist[-1])

apple
banana
graphes

In [15]:
thislist=["apple","banana","mango","orange","kiwi","milon","graphes"]
print(thislist[0:])
print(thislist[0:5])
print(thislist[2:])

['apple', 'banana', 'mango', 'orange', 'kiwi', 'milon', 'graphes']
['apple', 'banana', 'mango', 'orange', 'kiwi']
['mango', 'orange', 'kiwi', 'milon', 'graphes']

In [16]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [19]:
#Change the second item:
thislist=["cherry","stroberry","venila"]
thislist[1]="blackcurrent"
print(thislist)

['cherry', 'blackcurrent', 'venila']

In [20]:
#Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [21]:
#Insert "watermelon" as the third item:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [24]:
#Using the append() method to append an item:
thislist=["apple","banana","cherry"]
thislist.append("greenapple")
print(thislist)

['apple', 'banana', 'cherry', 'greenapple']

In [27]:
#Insert an item as the second position:
#insert(index, element) This will insert 'element' at the given 'index'
thislist=["john","varun","tharun"]
thislist.insert(1,"thej")
print(thislist)

['john', 'thej', 'varun', 'tharun']

In [29]:
#To append elements from another list to the current list, use the extend() method.
#Add the elements of tropical to thislist:

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [31]:
#adding the elements of tuples into lists by using extend()
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [33]:
#The remove() method removes the specified item or element
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [39]:
#The pop() method removes the specified index.
thislist=["hana","java","python","r_language"]
thislist.pop(1)

'java'

In [40]:
#Remove the last item:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [42]:
#The del keyword also removes the specified index:
thislist = ["apple", "banana", "cherry"]
del thislist[1]
print(thislist)

['apple', 'cherry']

In [45]:
#Delete the entire list:
thislist = ["apple", "banana", "cherry"]
del thislist

In [47]:
#The clear() method empties the list.
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [48]:
#Loop Through a List using for
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [49]:
#Sort the list alphabetically using sort()
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist.sort()
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange']

In [51]:
#sort the list numerically
thislist=[10,40,50,23,44,25,11,25]
thislist.sort()
print(thislist)

[10, 11, 23, 25, 25, 40, 44, 50]

In [55]:
#sort descending order
thislist=["banana","cherry","graphes","mango","greenapple","apple"]
thislist.sort(reverse=True)
print(thislist)

['mango', 'greenapple', 'graphes', 'cherry', 'banana', 'apple']

In [57]:
#descending order

thislist=[25,36,14,54,87,95,64,15]
thislist.sort(reverse=True)
print(thislist)

[95, 87, 64, 54, 36, 25, 15, 14]

In [58]:
#join the two lists
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3=list1+list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [60]:
#Append list1 into list2
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [63]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [70]:
lst_1 = [1, 2, 3]
lst_2 = [4, 5, 6]

print(lst_1 + lst_2)

[1, 2, 3, 4, 5, 6]

# Tuple

1.We can store multiple elements inside the tuple

2.Tuples are immutable(we can't change or update)

3.Indexing and sclicing are possible in tuples

4.Allow duplicates

In [65]:
#initialization

t=()
print(type(t))

<class 'tuple'>

In [67]:
t=tuple()
print(type(t))

<class 'tuple'>

In [71]:
t=(1,2,3,4,5)
print(t)
print(type(t))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [73]:
t=(1)
print(type(t))

<class 'int'>

In [74]:
t=(1,)
print(type(t))

<class 'tuple'>

In [75]:
t=("happy")
print(type(t))

<class 'str'>

In [76]:
t=("happy",1)
print(type(t))

<class 'tuple'>

In [78]:
t=(("hi","hello","how","are","you"))
print(t)
print(type(t))

('hi', 'hello', 'how', 'are', 'you')
<class 'tuple'>

**Indexing**

In [83]:
t=(25,45,"happy",56,"hi")
print(t[2])
print(t[0])
print(t[-2])
print(t[-1])

happy
25
56
hi

In [86]:
#sclicing
t= ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(t[2:5])
print(t[0:])
print(t[:-1])

('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon')

In [87]:
t=("apple", 25 , "banana", 50 , "cherry")
if 25 in t:
    print("present")

present

**Tuples are unchangeable, or immutable as it also is called.**

**But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.**

In [91]:
#Convert the tuple into a list to be able to change it:

x=("hi",100,"hello",200,"john")
y=list(x)#convert tuple into list
y[1]="chinnu"#append or adding
x=tuple(y)#finally convert list into tuple
print(x)
print(type(x))

('hi', 'chinnu', 'hello', 200, 'john')
<class 'tuple'>

In [93]:
x=("aru","niha","shantha","giri")# we cant change the tuples
x.append(25)

AttributeError: 'tuple' object has no attribute 'append'

In [95]:
X=("aru","niha","shantha","giri")
y=list(x)
y.append("25")
x=tuple(y)
print(x)

('aru', 'niha', 'shantha', 'giri', '25')

In [96]:
x=("aru","niha","shantha","giri")
y=list(x)
y.remove("aru")
x=tuple(y)
print(x)

('niha', 'shantha', 'giri')

In [98]:
x=("aru","niha","shantha","giri")
del x
print(x)# getting error because tuple is no longer exists

NameError: name 'x' is not defined

In [100]:
#join two tuples

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3=tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [103]:
fruits = ("apple", "banana", "cherry")
tuple= fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Sets

1.Unorderd collection of items,means non sequence is maintained.

2.sets are mutable

3.It removes Duplicates(repeated) in the set, means not allow the duplicates.

4.sets are created by using { }

s={ }

5.Both dictionary and sets have the braces if we have elements inside the { } is called sets.

6. It should not support for indexing and sciling

In [104]:
s={}
print(type(s))

<class 'dict'>

In [105]:
s={2}
print(type(s))

<class 'set'>

In [107]:
s={2,4,6,8,10}
s.add(25)
print(s)

{2, 4, 6, 8, 10, 25}

In [109]:
old_set={"hi","hello"}
new_set={"how","are","you"}
old_set.update(new_set)
print(old_set)#getting unorderd list

{'how', 'hi', 'you', 'are', 'hello'}

In [110]:
s={"happy","hungry","full"}
s.remove("happy")
print(s)

{'full', 'hungry'}

In [113]:
#Remove "25" by using the discard() method:
s={45,56,48,78,59,65}
s.discard(45)
print(s)

{65, 78, 48, 56, 59}

In [115]:
#Remove the last item by using the pop() method:
s={45,56,48,78,59,65}
s.pop()

65

In [118]:
s={45,56,48,78,59,65}
s.clear()
print(s)

set()

**Set operations**

In [122]:
set_1={45,48,49,78}
set_2={25,45,65,85}
set_3=set_1+set_2
print(set_3)#this is not possible

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [124]:
#Union()
set_1={45,48,49,78}
set_2={25,45,65,85}
print(set_1.union(set_2))#(or)
print(set_1|set_2)

{65, 45, 78, 48, 49, 85, 25}
{65, 45, 78, 48, 49, 85, 25}

In [127]:
#Intersection()
set_1={45,48,49,78}
set_2={25,45,65,85}
print(set_1.intersection(set_2))#(or)
print(set_1 & set_2)

{45}
{45}

In [128]:
#difference
set_1={45,48,49,78}
set_2={25,45,65,85}
print(set_1-set_2)#(or)
print(set_1.difference(set_2))

{48, 49, 78}
{48, 49, 78}

In [129]:
#symmetric difference
set_1={45,48,49,78}
set_2={25,45,65,85}
print(set_1^set_2)#(or)
print(set_1.symmetric_difference(set_2))

{65, 78, 48, 49, 85, 25}
{65, 78, 48, 49, 85, 25}

# Dictionary

1.Unorderd collection of key-value pairs.

2.Mutable.

3.Keys are unique - values may not be unique.

4.Value can be of any type but key must be immuatable.

5.In dictionary indexing and scling are not access.

6.Duplicates are not allowed.

In [146]:
dic={}
print(type(dic))

<class 'dict'>

In [131]:
dictionary = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(dictionary)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [134]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = dict["model"]#Get the value of the "model" key:
print(x)

Mustang

In [135]:
x = dict.get("model")#Get the value of the "model" key:

In [136]:
print(x)

Mustang

In [137]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

dict["year"] = 2018 #Change the "year" to 2018:

In [138]:
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [139]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

dict.update({"year": 2020})

In [140]:
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [141]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

dict.update({"year": 2020})#Update the "year" of the car by using the update() method

In [143]:
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [145]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

dict.pop("model")
print(dict)

{'brand': 'Ford', 'year': 1964}

In [149]:
d = {1:'abc', 2:'efg', 'name':'xyz'}

print(d[1])
print(d["name"])#accesing values

abc
xyz

In [150]:
d = {1:'abc', 2:'efg', ('name'):'xyz'}

print(d.keys())

print(d.values())

print(d.items())

dict_keys([1, 2, 'name'])
dict_values(['abc', 'efg', 'xyz'])
dict_items([(1, 'abc'), (2, 'efg'), ('name', 'xyz')])